* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #070101;
}

.card {
  width: 60%;
  max-height: 500px;
  margin: 100px auto 0;
  padding: 40px 35px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #f7eded;
  text-align: center;
  border-radius: 20px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 40px;
  border-radius: 30px;
  flex: 1;
  margin: 16px;
  font-size: 18px;
}

.search button {
  width: 80px;
  padding: 10px;
  border-radius: 20px;
  color: black;
  background: #00feba;
  cursor: pointer;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
